body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* INTRO PAGE */
.logo{
    margin-top: -10px;
    width: 50px;
    height: 50px;
}
.glyphicon-list{
  font-size: 25px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.image{
    
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img{
  z-index: 0;
  position: relative;
  width: 800px;
  height: 100px;
}
.img-btn{
  z-index: 1;
  cursor: pointer;
  position: relative;
  top: 50px;
  left:80px;
  font-size: 20px;
}
.object{
  margin-top: -10px;
  height: 30px;
  color: rgb(78, 78, 209);
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}




/* ABOUT ME */
.my-image > h1{
  text-align: center;
  color: rgb(78, 78, 209);
  font-size: 35px;
  font-weight: bold;
}

.my-image{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.my-image > img{
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px#333;
}

.img-btn .btn-secondary{
    position: relative;
    top: 10px;
    left:80px;
}
.about > h1{
    
    text-align: center;
}
.about-me{
    
     display: flex; 
     flex-wrap: wrap;
     justify-content: center;
}
h2{
    text-align: center;
}
.my-story{
    border-radius: 20px;
    box-shadow: 0 0 3px ;
    margin-top: 30px;
    margin-bottom: 2px;
    margin-right: 5px;
    /* border: 2px solid black; */
    max-width: 500px;
}
.h4{
    font-size: 20px;
    padding:10px 15px;
    
}
.my-skills > button{
    cursor: pointer;
    margin-bottom: -80px;
    font-size: 20px;
}
.btn.start{
    border-top-left-radius: 20px;
}
.job-title{
  font-weight: bold;
}
.my-skills > h4{
  
    box-shadow: 0 0 3px ;
    padding-top: 80px;
    max-width: 500px;
    border-radius: 20px;
    padding:60px 15px;
    font-size: 20px;
}
.h4 > p{
  
  text-indent: 20px;
}
.img-responsiv{
  width: 100px;
  height: 100px;
}
.skills-grid{
  display: flex;
  flex-wrap: wrap;
}
.skills-name{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}


/* FOOTER COMPONENT */
.footer-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-title{
    text-align: center;
    /* color:blue; */
    font-weight: bold;
    margin-top: 30px;
}
.back >a >h4{
  text-align: center;
}
.design-by >div{
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  height: 40px;
  margin-bottom: 20px;
}
.design-by >div >div{
  margin-left: 10px;
  border-radius: 5px;
  display: flex;
  padding: 10px 10px;
  align-items: center;
  justify-content: center;
  color:rgb(78, 78, 209);
  background-color: black;
  font-size: 20px;
  height: 40px;
  
}
input{
    display: flex;
    justify-content: center;
    height: 50px;
width: 100%;
margin-bottom: 20px;
}
.input{
    width:100%;
    display: flex;
justify-content: space-between;
}
.footer-div{
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    border: 5px solid rgb(78, 78, 209);
}
.footer-div > button{
    display: flex;
    width: 120px;
}
.form{
    /* padding: 50px 30px; */
    transition: 2s;
    font-size: 20px;
    width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-foot{
    width: 50%;
    margin: 0 auto;
   margin-top: 20px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(78, 78, 209);
    border-radius: 10px;
}

/* PORTFOLIO COMPONENTS*/
#portfolio > div{
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  width: 100%;
  margin-top: 50px;
}
.portfolio-image > img{
  width: 500px;
  height: 400px;
  border-radius: 10px;
}
.portfolio{
  box-shadow: 0 0 3px; 
  border-radius: 10px;
  margin: 10px;
  padding: 20px 10px;
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: center;
}
.portfolio-content{
  
  padding: 10px;
  width: 400px;
}
.port{
  max-width: 1000px;
  margin: 50px auto;
}
.portfolio-tools{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  
}
.portfolio-tools > li{
  list-style: none;
  color: white;
  padding: 5px;
  background-color: rgb(160, 151, 151);
}
.portfolio-content > h2{
  font-family: 'Alfa Slab One', cursive;
  font-size: 40px;
  }
  .portfolio-content > p{
    font-size: 20px;
  }
  .portfolio-btn> a>button{
    margin-top: 20px;
    font-size: 25px;
  }
  .portfolio-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.more > button {
  /* background-color: blue; */
  font-size: 20px;
  width: 60%;
  margin: 0 20%;
}
.more-work{
  background-color: white;
  border: 5px solid black;
  margin: 30px ;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  overflow-y: scroll;
  z-index: 2;
  position: fixed;
  top: 0px;
  width: 95%;
  height: 95vh;
}
button{
  cursor: pointer;
}
.back-icon{
  
  font-size: 20px;
  position: fixed;
  z-index: 3;
  top:5%
}
.back-icon > button {
  color: white;
  background-color: red;
  border-radius: 5px;
}
.work{
  
  z-index: 4;
  border: none;
  height: 80vh;
}
.more{
  height: 150px;
}










 /* aniamtions time */

h1 {
    color: #333;
    font-family: tahoma;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 200px;
  }
  h1 span {
    font-size: 25px;
  }
  .message {
    background-color: rgb(78, 78, 209);
    color: #333;
    /* display: block; */
    font-weight: 200;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 0px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3, .word4 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }

  /* INTRO ANIMATION */
.box {
  margin-top: 30px;
  font-size: 40px;
  font-family: 'Alfa Slab One', cursive;
  color: rgb(78, 78, 209);
  font-weight: 900;
}

#box1::after {
  content: "HELLO! I'm Joel";
  display: flex;
  transform: rotateX(180deg);
  -webkit-background-clip: text;
  color: #ddd;
}

/* portfolio header */

.waviy {
    
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 60px;
}
.waviy span {
  color:rgb(78, 78, 209);
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}