body{
    margin: 0;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    background-color: rgb(217, 227, 224);
   
}
 /* .page{
    
    margin: 0 auto;
    
    border-radius: 10px;
 } */


/* first page, navbar compoent & info components */
.top{
  width: 100%;
    background-image: url(hair.jpg);
    background-size: cover;

}
.container{
  /* display: flex;
align-items: center; */
background-color: blue;
max-width: 800px;
  height: 100vh;
}
.btn-pink{
  margin-top: 20px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(230, 130, 130);
  width: 150px;
  border-radius:10px;
}


/* .header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    height: 60px;
} */
h1{
    font-weight: bolder;
    
}

/* .list{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    margin-top: -35px;
    margin-bottom: -15px;
    justify-content: space-between;
    color:brown

} */

.main{
    display: flex;
    width: 250px;
    flex-direction: column;
    margin: 30px auto;
    position: relative;
    font-weight: bold;
}
h4{
    font-weight: bold;
    margin-top: -10px;
}
img{
    border-radius: 10px;
    height: 300px;
    width: 100%;
}
.button{
    border-radius: 10px;
    background-color: brown;
    margin: 5px 0;
    height: 40px;
    opacity: 0.9;
    font-size: 20px;
    font-weight: bold;
}
.block{
    display: flex;
    /* overflow-x: auto; */
    flex-wrap: wrap;
}
.price{
    /* text-align: center; */
    margin-top: -10px;
    font-weight: bold ;
}
.badge{
    position: absolute;
    background-color: aliceblue;
    top:20px;
    left: 10px;
    height: 20px;
    padding: 5px 5px;
    color: black;
}
/* .intro{
    
    background-size: cover;
height: 100vh;
margin: 0;;
width: 100%;
font-weight: bold;
display: flex;
justify-content: space-between;
align-items: center;
} */
/* .moving{
display: block;
} */


.navbar{
    margin: 0;
}
/* .intro-div{
  display: flex;
  flex-direction: column;
justify-content: space-between;
align-items: center;
 
    max-width: 400px;
margin-top: 20%;
margin-left: 7%;
} */
.icons > ul{
  display: flex;
}
.intro-cont{
    color: rgb(230, 130, 130);
    /* margin-top: 20%; */
    margin-right: 7%;

}
.choice{
  color:rgb(78, 78, 209);
}
.span{
    font-style: italic;
    font-size: 25px;
    color: rgb(78, 78, 209);
}


.h1{
    color: rgb(230, 130, 130);
    font-size: 70px;
}
.btn-blue{
    margin-top: 20px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(78, 78, 209);
    border-radius: 10px;
}
.fa-facebook, .fa-instagram, .fa-phone{
    color: rgb(78, 78, 209);
}
.navbar-brand{
    font-size: 30px;
    color:  rgb(78, 78, 209);;
}
.logo{
    margin-top: -10px;
   
    
    width: 50px;
    height: 50px;
}
.grid{
 
    height: 100%;
    display: block;
    
    max-width: 800px;
    margin: 40px auto;

}

.innergrid{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-bottom: -80px; */
}
.abt{
  display: block;
}
.abt-info{
  margin: 0 10px;
}
.abt-title{
  margin: 0 10px;

    color: rgb(78, 78, 209);
}
.innergrid > img{
    height: 200px;
    width: 200px;
    margin :20px auto;
}
.video{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 1;
  transition: opacity 500ms ease-in;

}
.video> img{
    margin-bottom:40px;
    max-width: 800px;
}
.more{
    display: flex;
    margin: 0 auto;
    text-align: center;
}
.footer{
    background-color: rgb(230, 130, 130);
    background-size: cover;
    padding-bottom: 20px;
    
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
   
    opacity: 1;
    animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
@keyframes example {
    from {background-color: yellowgreen}
    to {background-color: rgb(230, 130, 130);}
}

.footer-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-title{
    text-align: center;
    /* color:blue; */
    font-weight: bold;
    margin-top: 30px;

}
.fb{
    position:relative;
    color: black;
    top: -15px;
    font-size: 50px;
}
.twi{
    position:relative;
    top: 40px;
    font-size: 50px;
}
.env{
    position:relative;
    top: 40px;
    font-size: 50px;
}
.pho{
    position:relative;
    top: -15px;
    right: 10px;
    font-size: 50px;
}
input{
    display: flex;
    justify-content: center;
    height: 50px;
width: 100%;
margin-bottom: 20px;
}
.input{
    width:100%;
    display: flex;
justify-content: space-between;
}
.form{
    transition: 2s;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btn-foot{
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color:rgb(78, 78, 209);
    border-radius: 10px;
}
/* .fa-chevron-circle-down{
    font-size: 50px;
    cursor: pointer;
} */
.fa-chevron-circle-down:hover{
    font-size: 35px;
    color: rgb(78, 78, 209);;
}
.letter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 30px;
      font-weight: bold;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.waviy {
    
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 60px;
  }
  .waviy span {
    color:rgb(230, 130, 130);
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
  .wigstore {
    color:#44107a;
    font-family: "Montserrat Medium";
    max-width: 40ch;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }
  
  h1 {
    color: #333;
    font-family: tahoma;
    font-size: 30px;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 550px;
  }
  
  h1 span {
    font-size: 25px;
    /* margin-left: 40px; */
  }
  
  .message {
    background-color: rgb(230, 130, 130);
    color: #333;
    display: block;
    font-weight: 200;
    overflow: hidden;
    position: absolute;
    padding-left: 0.5rem;
    top: 0.2rem;
    left: 280px;
    animation: openclose 5s ease-in-out infinite;
  }
  
  .word1, .word2, .word3, .word4 {
    font-family: tahoma;
  }
  
  @keyframes openclose {
    0% {
      top: 0.2rem;
      width: 0;
    }
    5% {
      width: 0;
    }
    15% {
      width: 230px;
    }
    30% {
      top: 0.2rem;
      width: 230px;
    }
    33% {
      top: 0.2rem;
      width: 0;
    }
    35% {
      top: 0.2rem;
      width: 0;
    }
    38% {
      top: -4.5rem;
      
    }
    48% {
      top: -4.5rem;
      width: 190px;
    }
    62% {
      top: -4.5rem;
      width: 190px;
    }
    66% {
      top: -4.5rem;
      width: 0;
      text-indent: 0;
    }
    71% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    86% {
      top: -9rem;
      width: 285px;
    }
    95% {
      top: -9rem;
      width: 285px;
    }
    98% {
      top: -9rem;
      width: 0;
      text-indent: 5px;
    }
    100% {
      top: 0;
      width: 0;
      text-indent: 0;
    }
  }
  .object {
    animation: MoveUpDown 20s linear infinite;
    position: relative;
    right: 10px;
    bottom: 0;
  }
  
  @keyframes MoveUpDown {
    0%   { left:0px; bottom:0px;}
  50%{ left:0px; bottom:50px;}
  100% {left:0px; bottom:0px;}
  }

  .newobject {
    animation: MoveUpDown1 0.2s linear 1;
    position: relative;
    /* bottom: 0; */
  }
  /* @keyframes MoveUpDown10 {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
  } */
  @keyframes MoveUpDown1 {
    0%   {left:0px; top:300px;}
    /* 50%   {left:0px; top:300px;} */
    100% {left:0px; top:0px;}
  }
  
  